.Rproj.user
.Rhistory
.RData
.Ruserdata
db_connect_test.R
modern_data_workflow/db_connect_test.R
.env
modern_data_workflow/control_data_qc_testing.R
modern_data_workflow/db_experimentation.R
modern_data_workflow/dup_csv.R
modern_data_workflow/duplicate_water_temp_readings.csv
modern_data_workflow/historic_temperature_data_query.R
modern_data_workflow/historic_temperature_project.Rproj
modern_data_workflow/test_example_csv.R
modern_data_workflow/water_control_data_qc_testing.R
modern_data_workflow/testing_csvs/
modern_data_workflow/testing_csvs_output/
modern_data_workflow/historic_temperature.db
modern_data_workflow/.Rdata
modern_data_workflow/wqx_upload/.venv
modern_data_workflow/wqx_upload/upload_excel_files/*
!modern_data_workflow/wqx_upload/upload_excel_files/.gitkeep